@import "../../node_modules/sass-mq/mq";

// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import "partials/vars";

@import "partials/fonts";
@import "partials/page";
@import "partials/share";
@import "partials/base";
