<div class='texts-body'>
    <div class='gs-container'>
        <div class='texts-body__inner texts-content'>
            <div class='texts-body__divider'></div>

            <h2 class='texts-body__title'>
                10:11am <span>Shots first heard</span>
            </h2>

            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>

            {{> templates/partials/chat side='left' group='true' name='Namey name' message='A text that somebody has sent. Loreum ipsum dolor sit amet concetietur. Lorem ipsum dolor sit amet text text.' }}
            {{> templates/partials/chat side='left' name='Namey name' message='text text.' }}

            {{> templates/partials/chat side='right' name='Namey name' message='A text that somebody has sent. Loreum ipsum dolor sit amet concetietur. Lorem ipsum dolor sit amet text text.' }}

            {{> templates/partials/chat side='left' name='Namey name' message='A text that somebody has sent. Loreum ipsum dolor sit amet concetietur. Lorem ipsum dolor sit amet text text.' }}

            <div class='texts-body__divider'></div>

            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>

            {{> templates/partials/chat side='left' group='true' name='Namey name' message='A text that somebody has sent. Loreum ipsum dolor sit amet concetietur. Lorem ipsum dolor sit amet text text.' }}
            {{> templates/partials/chat side='left' name='Namey name' message='text text.' }}

            {{> templates/partials/chat side='right' name='Namey name' message='A text that somebody has sent. Loreum ipsum dolor sit amet concetietur. Lorem ipsum dolor sit amet text text.' }}

            {{> templates/partials/chat side='left' name='Namey name' message='A text that somebody has sent. Loreum ipsum dolor sit amet concetietur. Lorem ipsum dolor sit amet text text.' }}

            <div class='texts-body__divider'></div>

            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>

            {{> templates/partials/chat side='left' group='true' name='Namey name' message='A text that somebody has sent. Loreum ipsum dolor sit amet concetietur. Lorem ipsum dolor sit amet text text.' }}
            {{> templates/partials/chat side='left' name='Namey name' message='text text.' }}

            {{> templates/partials/chat side='right' name='Namey name' message='A text that somebody has sent. Loreum ipsum dolor sit amet concetietur. Lorem ipsum dolor sit amet text text.' }}

            {{> templates/partials/chat side='left' name='Namey name' message='A text that somebody has sent. Loreum ipsum dolor sit amet concetietur. Lorem ipsum dolor sit amet text text.' }}

            <div class='texts-body__divider'></div>

            <h2 class='texts-body__title'>
                10:23am <span>School on lockdown</span>
            </h2>

            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>

            {{> templates/partials/chat side='left' group='true' name='Namey name' message='A text that somebody has sent. Loreum ipsum dolor sit amet concetietur. Lorem ipsum dolor sit amet text text.' }}
            {{> templates/partials/chat side='left' name='Namey name' message='text text.' }}

            {{> templates/partials/chat side='right' name='Namey name' message='A text that somebody has sent. Loreum ipsum dolor sit amet concetietur. Lorem ipsum dolor sit amet text text.' }}

            {{> templates/partials/chat side='left' name='Namey name' message='A text that somebody has sent. Loreum ipsum dolor sit amet concetietur. Lorem ipsum dolor sit amet text text.' }}

            <div class='texts-body__divider'></div>

            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>

            {{> templates/partials/chat side='left' group='true' name='Namey name' message='A text that somebody has sent. Loreum ipsum dolor sit amet concetietur. Lorem ipsum dolor sit amet text text.' }}
            {{> templates/partials/chat side='left' name='Namey name' message='text text.' }}

            {{> templates/partials/chat side='right' name='Namey name' message='A text that somebody has sent. Loreum ipsum dolor sit amet concetietur. Lorem ipsum dolor sit amet text text.' }}

            {{> templates/partials/chat side='left' name='Namey name' message='A text that somebody has sent. Loreum ipsum dolor sit amet concetietur. Lorem ipsum dolor sit amet text text.' }}
        </div>
    </div>
</div>
