<div class='texts-chat texts-chat--{{ side }} {{#if group}}texts-chat--group{{/if}}'>
    <div class='text-chat__bubble text-chat__bubble--empty'>
        <span class='text-chat__dot text-chat__dot--1'>&bull;</span>
        <span class='text-chat__dot text-chat__dot--2'>&bull;</span>
        <span class='text-chat__dot text-chat__dot--3'>&bull;</span>
    </div>
    <div class='text-chat__bubble text-chat__bubble--copy'>
        <span class='texts-chat__sender'>{{ name }}</span>
        <span class='texts-chat__message'>{{ message }}</span>
    </div>
</div>