<div class='texts-header'>
    <div class='gs-container'>
        <div class='texts-content'>
            <h1 class='texts-header__title'>The text <span>messages of</span> Parkland <span class='texts-header__dots'><span class='texts-header__dot'>&bull;</span><span class='texts-header__dot'>&bull;</span><span class='texts-header__dot'>&bull;</span></span></h1>
            <p class='texts-header__standfirst'>On 14th February, TK number of students went through a life changing event in which TK of their peers lost their lives. Those are the text messages their exchanged on the day, showing TK and TK</p>

            <p class='texts-header__byline'>
                <a href=''>Byline</a>, <a href=''>Byline</a> and <a href=''>Byline</a>
            </p>
            {{> templates/helpers/share }}
        </div>
    </div>
</div>

