<div class='uit-header'>
    <div class='uit-container'>
        <div class='uit-content'>
            <h1 class='uit-header__headline' itemprop='headline'>
                <span class='uit-header__headline-kicker'>Dummy copy</span>
                A placeholder headline for the template
            </h1>
            <p class='uit-header__standfirst' itemprop='description'>Maecenas et enim odio. Nullam massa metus, varius quis vehicula sed, pharetra mollis erat. In quis viverra velit.</p>
            {{> templates/partials/share }}
        </div>
    </div>
</div>