.texts {
    overflow: hidden;
}

.texts-content {
    position: relative;
    max-width: 620px;

    @include mq(leftCol) {
        margin-left: 140px;
    }

    @include mq(wide) {
        margin-left: 220px;
    }

    &:before {
        @include mq(desktop) {
            content: '';
            position: absolute;
            top: -12px;
            bottom: -12px;
            left: -10px;
            width: 1px;
            background-color: $c-grey;
        }
    }
}