.texts-body__inner {
    position: relative;
    z-index: 5;
    padding: 0 0 12px;

    p {
        font-family: 'Guardian Text Egyptian Web';
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 18px;
        margin-top: 0;
    }
}

.texts-body__title {
    font-family: 'Guardian Egyptian Web';
    font-size: 20px;
    line-height: 1.1;
    color: $c-black;
    margin: 0;

    @include mq(desktop) {
        font-size: 32px;
        line-height: 1;
    }

    span {
        color: $c-red;
        display: block;
    }
}

.texts-body__divider {
    width: calc(100% + 20px);
    height: 1px;
    background-color: $c-grey;
    margin: 48px -10px 6px -10px;

    @include mq(mobileLandscape) {
        width: calc(100% + 40px);
        margin-left: -20px;
        margin-right: -20px;
    }

    @include mq(tablet) {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    @include mq(desktop) {
        width: calc(100% + 10px);
        margin-left: -10px;
    }

    &:first-of-type {
        margin-top: 0;
    }
}