.texts-header {
    position: relative;
    z-index: 6;
    margin: 0;
    padding: 6px 0;
}

.texts-header__title {
    font-family: 'Guardian Egyptian Web';
    font-weight: 900;
    color: $c-black;
    font-size: 11vw;
    line-height: 1.1;
    margin: 0;

    @include mq(tablet) {
        font-size: 84px;
        line-height: 1;
    }

    span {
        display: block;
        text-align: right;
        color: $c-red;
        margin-top: -1vw;

        @include mq(tablet) {
            margin-top: -10px;
        }
    }
}

span.texts-header__dot {
    display: inline;
    animation: fade 0.9s linear infinite;
}

.texts-header__dot:nth-of-type(1) {
    animation-delay: -.6s;
}

.texts-header__dot:nth-of-type(2) {
    animation-delay: -.3s;
}

.texts-header__standfirst {
    font-family: 'Guardian Egyptian Web';
    font-size: 20px;
    line-height: 1.1;
    font-weight: bold;
    color: $c-black;
    max-width: 80%;

    @include mq(desktop) {
        font-size: 32px;
        line-height: 1;
        margin-top: 12px;
    }

}

.texts-header__byline {
    position: relative;
    font-family: 'Guardian Egyptian Web';
    color: $c-red;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.2;
    margin: 4px 0 6px;
    padding-top: 6px;

    @include mq(tablet) {
        margin: 12px 0;
    }

    @include mq(desktop) {
        min-height: 36px;
    }

    a {
        font-weight: bold;
        font-style: normal;
        text-decoration: none;
        color: $c-red;

        &:hover {
            color: $c-black;
        }
    }

    &:before {
        position: absolute;
        content: '';
        top: 0;
        left: -10px;
        right: -10px;
        height: 1px;
        background-color: $c-grey;

        @include mq(mobileLandscape) {
            left: -20px;
            right: -20px;
        }

        @include mq(tablet) {
            left: 0;
            right: 0;
        }

        @include mq(desktop) {
            left: -10px;
        }
    }
}